<div>
    <%- include('header') %>

    <body>
        <%- include('navbar', {user : user}); %>

        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 ">
                    <h3 class="center">Vertical bar <%= title %></h3>
                    <canvas width="400" height="400" id="myChart"></canvas>
                </div>

                <div class="col-sm-6">
                <h3 class="center">Line <%= title %></h3>
                    <canvas width="400" height="400" id="myChart_2"></canvas>
                </div>

            </div>
        </div>
    </body>

    <%- include('footer') %>
</div>

<script>
                        
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: <%- JSON.stringify(fields); %>,
                                        datasets: [{
                                            label: '% of grade',
                                            data: <%- JSON.stringify(table); %>,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)',
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)',
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });

var canvas = new Chart(document.getElementById("myChart_2"), {
  type: 'line',
  data: {
    labels: <%- JSON.stringify(table_sec); %>,
    datasets: <%- JSON.stringify(data_set); %>
  },
  options: {
    title: {
      display: true,
      text: 'Date creation (X) / Grade (Y)'
    }
  }
});

</script>
