<div>

<%- include('header') %>

<%- include('navbar', {user : user}); %>

<body>

<div class="container">

<div class="row">

<div class="col-sm-6 offset-sm-3">

<br/>

<div class="card">

<h3 class="center"><%= title %></h3>

</div>

<br/>

<table class="table table-striped table-dark">
    <tbody>
            <% if (fields.length) { %>
                <% fields.forEach(function(field){ %>
      <tr>
        <td><%= field.type %></td>
        <td><%= field.name %></td>
      </tr>

      <% }) %>
      <% } %>

      <tr>
          <td>Action</td>
          <td><a href="/user/edit/<%= user._id%>"  class="navbar_title"><p>update</p></a></td>
      </tr>

    </tbody>
  </table>

</div>

</div>

</div>

</div>

</body>

<%- include('footer') %>